<div class="image-container">
    <img src="assets/images/s1.jpeg" alt="School logo" class="logo">
  </div>
<section id="contact">
    <h2>Contact Information</h2>
    <p class="contact-info">
      E-mail: <a href="mailto:Office&#64;knowledgeschool.com" class="email">Office&#64;knowledgeschool.com</a><br>
      LinkedIn: <a href="https://www.linkedin.com/in/balaji-koushik-7b0a52301" target="_blank" rel="noopener noreferrer" class="linkedin-link">https://www.linkedin.com/in/balaji-koushik-7b0a52301</a><br>
      Mobile: <a href="tel:+917894561230" class="phone-link">7894561230</a>
    </p>
      
    <img src="assets/images/school2.jpg" alt="School">
  </section>
  