<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Website</title>

</head>
<body>
    <header>
        <h1>Welcome to school web page</h1>
    </header>
    <nav>
        <div>
            <a routerLink="/about">About Us</a>
            <a routerLink="/academics">Academics</a>
            <a routerLink="/admissions">Admissions</a>
            <a routerLink="/contact">Contact</a>
            <button class="your-button-class" (click)="navigateToTeachersList()">Teachers List</button>
            <button class="your-button-class" (click)="navigateToStudentList()">Students List</button>
        </div>
      
       

   
    </nav>
    <div class="hero">
        <h1>Inspiring Excellence</h1>
    </div>
    <p>Welcome to my project! I hope you find it useful and user-friendly.</p>
  
            